/*	ZONA 1	*/
#zona_1 {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	height: 400px;
}
#zona_1 article{
	float: left;
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
}
#zona_1 #wrap_img{
	float: left;
    width: 100%;
    height: calc(100% - 20px);
    background-position: center;
    background-repeat: no-repeat;
}
#zona_1 #text_s{
	position: absolute;
    bottom: 0;
    width: 90%;
    margin: 0 5%;
    display: block;
}
#zona_1 #wrap_in{
	width: 80%;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 10%;
}
#zona_1 #cat{
	text-transform: uppercase;
    font-family: 'RobotoLight';
    color: #666666;
    font-size: 70%;
    margin-bottom: 10px;
    border-bottom: 1px solid #9A8A8A;
    display: inline-block;
    padding: 0 8% 7px 8%;
	letter-spacing: 1.5px;
}
#zona_1 #title{
	margin-bottom:10px;
	font-family:'MerriweatherBold';
	color:#4D4D4D;
	font-size: 90%;
}
#zona_1 #excerpt{
	font-family:'RobotoLight';
	color:#4D4D4D;
	font-size: 75%;
}

#zona_1 #btn_lm{
	border: 1px solid #9A8A8A;
    color: #9A8A8A;
    font-family: 'RobotoLight';
    font-size: 70%;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 5%;
    margin-top: 14px;
}
#zona_2{
	float: left;
    width: 100%;
    margin-bottom: 40px;
    min-height: 390px;
    position: relative;
    overflow: hidden;
}
#zona_2 article {
    display: inline-block;
    width: 100%;
    text-align: center;
}
#zona_2 article #wrap_im{
    float: left;
    width: 100%;
    overflow: hidden;
    height: 250px;
    background-position: center;
}
#zona_2 article #wrap_in {
    float: left;
    display: none;
    width: 90%;
    margin: 0px;
    background-color: #F2F2F2;
    padding: 10px 5% 10px 5%;
    text-align: center;
}
#zona_2 .holder_bu_center #wrap_in {
    display: block !important;
}
#zona_2 article #wrap_in #title {
    font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 90%;
    position: relative;
    padding: 10px 0;
}
#zona_2 article #wrap_in #title::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 20%;
    border-top: 1px solid #9A8A8A;
    text-align: center;
    left: 40%;
}
#zona_2 article #wrap_in #title::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 20%;
    border-top: 1px solid #9A8A8A;
    text-align: center;
    left: 40%;
}
#zona_3{
	float: left;
	width: 100%;
}
#zona_3 section{
	float: left;
    width: 100%;
    margin-bottom: 40px;
}
#zona_4{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_4 article {
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
#zona_4 article h3 {
   text-align: center;
}
#zona_4 article #wrap_im{
    float: left;
    width: 100%;
    height: 250px;
    background-position: center;
}
#zona_4 article #title{
	float: left;
	width: 100%;
	font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 90%;
    position: relative;
    margin-top: 20px;
}
#zona_4 article #excerpt {
    float: left;
    width: 100%;
    margin-top: 10px;
	font-family: 'RobotoLight';
    color: #4D4D4D;
    font-size: 90%;
}
#zona_5{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}
#zona_5 article {
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
#zona_5 h3 {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	line-height:105%;
}
#zona_5 article #wrap_im{
    float: left;
    width: 100%;
    height: 250px;
    background-position: center;
}
#zona_5 article #title{
	float: left;
	width: 100%;
	font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 90%;
    position: relative;
    margin-top: 20px;
}
#zona_5 article #excerpt {
    float: left;
    width: 100%;
    margin-top: 10px;
	font-family: 'RobotoLight';
    color: #4D4D4D;
    font-size: 90%;
}
#zona_6{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_6 section:last-child{
	margin-bottom: 0;
}
#zona_6 section{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_7{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_7 .tb{
    text-align: center;
}
#zona_7 .trends_s {
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 40px;
    min-height: 315px;
    position: relative;
}
#zona_7 article {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 320px;
}
#zona_7 article #wrap_img {
    float: left;
    width: 100%;
    height: 280px;
    background-position: center;
}
#zona_7 article #text_s {
    width: 80%;
    position: absolute;
    right: 10%;
    bottom: 90px;
    background-color: #fff;
}
#zona_7 article #title {
    font-family: 'MerriweatherBold';
    color: #000;
    font-size: 90%;
    text-align: center;
    padding: 15px 5%;
}
#zona_7 article #btn_vm {
    font-family: 'RobotoBlack';
    color: #9A8A8A;
    font-size: 80%;
    text-transform: uppercase;
    margin-top: 5px;
    float: right;
    width: 100%;
    text-align: right;
}
#zona_8{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_8 h4 {
    text-align: center;
}
#zona_8 h4 span {
    font-family: 'RobotoLight';
    color: #9A8A8A;
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 0 5px;
}
#zona_8 article {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#zona_8 article #wrap_im {
    float: left;
    width: 100%;
    position: relative;
    height: 280px;
    overflow: hidden;
    background-position: center;
}
#zona_8 article #wrap_in{
	float: left;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
#zona_8 article #title {
    float: left;
    width: 90%;
    font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 98%;
    margin: 15px 5% 5px 5%;
    text-align: center;
}
#zona_8 article #excerpt {
    float: left;
    width: 90%;
    font-family: 'RobotoLight';
    color: #4D4D4D;
    font-size: 90%;
    margin: 0 5% 10px 5%;
    text-align: center;
}
#zona_8 article #btn_vm {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'RobotoBlack';
    color: #1A1A1A;
    font-size: 80%;
    text-transform: uppercase;
}
#zona_8 .player_in{
	position: absolute;
    width: 100%;
    height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}
#zona_8 .player_in iframe{
	width: 100%;
	height: 100%;
}
#zona_9{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_9 h3{
	text-align: center;
}
#zona_9 article{
    float: left;
    width: 100%;
    overflow: hidden;
}
#zona_9 article #wrap_img{
	float: left;
    width: 100%;
    height: 280px;
    background-position: center;
}
#zona_9 article #text_s {
    float: left;
    width: 100%;
    text-align: center;
}
#zona_9 article #title {
    float: left;
    width: 70%;
    font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 98%;
    margin: 10px 15% 15px 15%;
    text-align: center;
}
#zona_9 article #title:before {
    content: '';
    background-color: #CCCCCC;
    height: 1px;
    width: 80%;
    float: left;
    margin: 10px 10%;
}
#zona_9 article #btn_vm {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'RobotoBlack';
    color: #1A1A1A;
    font-size: 80%;
    text-transform: uppercase;
}
#zona_10{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_10 h3{
	padding-top: 30px;
	text-align: center;
}
#zona_10 #wrap_inst{
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
#zona_10 article {
    float: left;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
#zona_11{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_11 #atel {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
#zona_11 #atel #at_im{
	max-width: 100%;
}
#zona_11 #atel #at_im img{
	height: 33px;
}
#zona_11 #atel p{
	float: left;
    width: 100%;
    font-family: 'RobotoLight';
    color: #4D4D4D;
    font-size: 94%;
    margin-top: 10px;
}
#zona_11 article{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
}
#zona_11 article #wrap_img {
    float: left;
    width: 100%;
    height: 280px;
    background-position: center;
}
#zona_11 article #text_s {
    float: left;
    width: 80%;
    margin: 20px 5% 0 5%;
    background-color: #F2F2F2;
    padding: 15px 5%;
}
#zona_11 article #title {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 7px;
    font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 90%;
}
#zona_11 article #excerpt {
    float: left;
    width: 100%;
    margin-bottom: 7px;
    font-family: 'RobotoLight';
    font-size: 80%;
    color: #4D4D4D;
}
#zona_11 article #btn_vm {
    border: 1px solid #9A8A8A;
    color: #9A8A8A;
    font-family: 'RobotoLight';
    font-size: 100%;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 5%;
    margin-top: 14px;
}
#zone_12{
	float: left;
	width: 100%;
}
#zone_12 section{
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
#zona_13{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#zona_13 #posts_inf{
	float: left;
	width: 100%;
}
#zona_13 article{
	float: left;
	width: 100%;
	overflow: hidden;
    margin-bottom: 20px;
}
#zona_13 article #wrap_img {
    float: left;
    width: 100%;
    background-position: center;
    height: 280px;
}
#zona_13 article #text_s {
    float: left;
    width: 82%;
    margin: 15px 9% 10px 9%;
    text-align: center;
}
#zona_13 article #title {
    font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 95%;
    margin-bottom: 10px;
}
#zona_13 article #excerpt {
    font-family: 'RobotoLight';
    color: #4D4D4D;
    font-size: 85%;
    margin-bottom: 10px;
}
#zona_13 article #btn_vm {
    text-align: center;
    font-family: 'RobotoBlack';
    color: #1A1A1A;
    font-size: 80%;
    text-transform: uppercase;
}
/*Slider*/
.conclave{
	position: absolute;
    width: 100%;
    height: 100%;
}
.holder_bu_center {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_awayR1 {
    position: absolute;
    top: 0;
    left: 97%;
    width: 70%;
    height: 100%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_none {
    position: absolute;
    top: 0;
    left: 90%;
    width: 10%;
    height: 100%;
    visibility: hidden;
}
.holder_bu_awayL1 {
    position: absolute;
    top: 0;
    left: -68%;
    width: 70%;
    height: 100%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu {
    cursor: pointer;
}
.next_3d {
    position: absolute;
    top: 34%;
    height: 50px;
    margin: auto !important;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    right: 0;
    background: rgba(0,0,0,0.5) url(http://travesiasdigital.com/wp-content/themes/travesias_2017_m/img/arrow-right.png) center left;
    cursor: pointer;
    z-index: 11;
}
.prev_3d {
    position: absolute;
    top: 34%;
    height: 50px;
    margin: auto !important;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
	left: 0;
    background: rgba(0,0,0,0.5) url(http://travesiasdigital.com/wp-content/themes/travesias_2017_m/img/arrow-left.png) center left;
    cursor: pointer;
    z-index: 11;
}
/*Infinito*/
#navinfi {
    float: left;
    width: 100%;
    text-align: center;
}
.click_load {
    border: 1px solid #9A8A8A;
    color: #9A8A8A;
    font-family: 'RobotoLight';
    font-size: 100%;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 5%;
    margin-top: 14px;
    cursor: pointer;
}
#navinfi .navinf {
    visibility: hidden;
}
#infscr-loading {
    float: left;
    width: 100%;
    text-align: center;
	font-family: 'MerriweatherBold';
    color: #4D4D4D;
    font-size: 95%;
    margin-bottom: 10px;
}
